* {
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

body {
    margin: 0px;
	margin: 0; /* Supprime les marges par défaut du navigateur */
	padding: 0; /* Supprime les rembourrages par défaut du navigateur */
	background-image: url('../image/mma.jpg'); /* Remplacez 'votre-image.jpg' par le chemin de votre image */
	background-size: cover; /* Couvrir tout l'espace disponible sans déformation */
	background-repeat: no-repeat; /* Empêcher la répétition de l'image en arrière-plan */
	background-position: center; /* Positionner l'image au centre de l'écran */
    color: white;
    max-width: 600px; /* Définissez la largeur maximale que vous souhaitez pour le contenu */
    padding: 20px; /* Ajoutez de l'espace autour du contenu si nécessaire */
    text-align: center;
    color: white;
    margin: 0 auto; /* Centrez le contenu horizontalement */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: red;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 60%;
    height: auto;
    align-items: center;
    justify-content: center;
}